.filter-box {
    background-color:rgb(228, 215, 44);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.filter-spacer {
    margin-left: 3px;
    margin-right: 3px;
}

.btn.filter-btn {
    background-color: orange;
    border-radius: 10px;
    border-color: black;
}
.btn.add-btn {
    background-color: orange;
    border-radius: 10px;
    border-color: black;
    color: black;
}

.btn.add-btn:hover {
    background-color: rgb(153, 100, 2);
    border-radius: 10px;
    border-color: black;
    color: white;
}

.btn.filter-btn:hover {
    background-color: rgb(153, 100, 2);
    border-radius: 10px;
    border-color: black;
    color: white;
}