.item-box {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    min-height: 100px;
    max-width: 600px;
}

.ticket-background {
    background-image: url("/assets/Ticket.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.ticket-start {
    background-image: url("/assets/Ticket-Start-3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 200px;
    padding-top: 5px;
}

.ticket-end {
    background-image: url("/assets/Ticket-End-3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 200px;
    padding-top: 5px;
}

.ticket-end.user-ticket {
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 500px;
}

.col-8.ticket-centre {
    padding-right: 0px;
    padding-left: 15px;
}

.container.item-detail-box {
    padding-right: 0px;
    padding-top: 10px;
}

.container.tags-box {
    border-radius: 5px;
    padding: 5px;
    padding-top: 0px;
    text-align: left;
    margin-top: 10px;
    padding-left: 0px;
}

.container.description {
    font-family: cursive;
    font-size: 13px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.item-name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
    color: rgb(163, 71, 9);
    margin-bottom: 3px;
}

.item-tags {
    font-size: 14px;
    font-family:cursive;
    margin-bottom: 1px;
}

.item-tags.bold {
    font-size: 14px;
    font-weight: bold;
    color: rgb(163, 71, 9);
}

.item-btn:not(:disabled) {
    background-color:goldenrod;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 15%;
    border-color: black;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 3px;
}

.item-btn:not(:disabled):hover {
    background-color: rgb(151, 115, 23);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 15%;
    border-color: black;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 3px;
}